body {
  background-color: #F9DFDC;
}
hr {
  border-style: none;
  border-top-style: dashed;
  border-color: #F4C7AB;
  border-width: 7px;
  width: 10%;
}
h1 {
  color: #B4846C;
  font-family: "OCR A Std", monospace;
}
h3 {
  color: #B4846C;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
}
.intro {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-style: oblique;
  font-size: 20px;
}
